
@{
	ViewBag.Title = "CallJsonpDemo";
}

<h2>CallJsonpDemo</h2>

@section Scripts{
	<script>
		function SearchResult(data)
		{
			//hideProgress();
			if (data !== null)
			{
				//Cookies.set('searchResult', JSON.stringify(data));
				//console.log('data saved in cookie...');
				console.log(data);
				$.each(data, function () {
					var obj = this;
					console.log(obj.ex + " " + obj.exZht + " " + obj.source + " " + obj.remark);
				});
			} else
			{
				console.log('nothing found');
			}


			//window.location.assign(data.d);
		}
	</script>


	<script src="http://www.translationhall.com/api/web/collocation/search?word=abandon&id=4&callback=SearchResult"></script>
} 