@model UI.Models.WcRepo.Example

<table id="ExampleList" class="table table-striped table-hover">
	<tbody>
		<tr>
			<td>
				<div class="exampleDiv">
					<div class="indent-1em marginBottom05em exampleText">@Html.Raw(Model.formattedEntry)</div>

					<div class="indent-1em marginBottom05em exampleTransText">@Html.Raw(Model.entryTran)</div>
					<div class="indent-1em exampleSourceText">@Html.Raw(Model.sourceRemark)</div>

				</div>
			</td>
		</tr>

	</tbody>
</table>

