<div><span class="h3 blue">@ViewData["Header"]</span><span class="fRight">@Html.ActionLink(THResources.Resources.Add, ViewData["Create"].ToString(), ViewData["Controller"].ToString(), new { id = "0" }, null)</span></div>
<div class="clearRight">&nbsp;</div>