<div class="offset3 span4 zone-content">
	<img id="imgUnderconstruction" src="~/images/UnderConstruction.png" alt="@THResources.Resources.UnderConstruction" title="@THResources.Resources.UnderConstruction" />
	<span class="text-danger">@THResources.Resources.UnderConstruction</span>
</div>