@*@{
	string rolename = CookieHelper.GetCookieValue("UserRoles");
	bool isAdmin = false;
	if (!string.IsNullOrEmpty(rolename))
	{
		string[] rolenames = TextHelper.Decrypt(rolename, WebConfigurationManager.AppSettings.Get("SecurityKey"), WebConfigurationManager.AppSettings.Get("KeyFileName")).Split(';');
		isAdmin = rolenames.Any(name => name == "Admin");
	}
}*@
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
	<li>@Html.ActionLink(Resources.AccountManagement, "Index", "Account")</li>
}  
