@{
	ViewBag.Title = THResources.Resources.ResetPasswordComplete;
}

@section Scripts {
	<script src="/Scripts/autoredirect.js"></script>
}

<h2>@THResources.Resources.ResetPasswordComplete</h2>
<div class="text-smaller">@THResources.Resources.SystemWillRedirectText1 <span id="timeout"></span> @THResources.Resources.SystemWillRedirectText2</div>
