@{
	ViewBag.Title = THResources.Resources.RegisterSuccess;
}

@section Scripts {
	<script src="/scripts/autoredirect.js"></script>
}

<h2>@THResources.Resources.RegisterSuccess</h2>
<p>@THResources.Resources.ThanksForRegister</p>
<div class="text-smaller">@THResources.Resources.SystemWillRedirectText1 <span id="timeout"></span> @THResources.Resources.SystemWillRedirectText2</div>
